/*
@font-face {
    font-family: 'Primary';
    src: url('fonts/Kalpurush.eot');
    src: url('fonts/Kalpurush.woff') format('woff'),
         url('fonts/Kalpurush.ttf') format('truetype'),
         url('fonts/Kalpurush.svg#Kalpurush') format('svg'),
         url('fonts/Kalpurush.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }*/
@font-face {
    font-family: 'Primary';
    src: url('fonts/SolaimanLipi_20-04-07.eot'),
        url('fonts/SolaimanLipi_20-04-07.woff') format('woff'),
        url('fonts/SolaimanLipi_20-04-07.woff2') format('woff2'),
        url('fonts/SolaimanLipi_20-04-07.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
